<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Be prepared for your Python Interview!</h1></div>
    </div>
    {% for q in posts: %}
    <div class="content">
        <div class="card">
            <h2>{{ q['id']}}</h2>
            <h2>{{ q['title'] }}</h2>
            <a href="{{ url_for('new_q', num=q['id']) }}">Answer</a>
        </div>
    </div>
    {% endfor %}

</div>
</body>
<footer>
    <p>Good Luck!!!</p>
</footer>
</html>